/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #63B347;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container .section {
width: 100%;
}
.form-login{
    width: 100%;
    max-width: 480px;
    float: none;
    margin: 20px auto;
}
.form-orders{
    width: 100%;
    max-width: 860px;
    float: none;
    margin: 20px auto;
}
h4.header {
    margin:5.14rem 0 0.912rem 0;
}

h2.form-title{
  font-size: 2em;
  margin: 1rem 1.1rem;
  color: #5CB051;
}

h2.form-title.coleta{
  margin: 1rem 1.1rem 3rem 1.1rem;
}

.select-label{
  top: -28px !important;
}
.datapicker-label{
  top: -15px !important;
}
.icon-datapicker{
  cursor: pointer;
}
.response{
  width: 100%;
  height: auto;  
  border-radius: 5px;
  display: none;
  
}
.response p{
  position: relative;
  text-align: center;
  line-height: 1;
  margin: 0px;
  padding: 15px 5px;
}
.warning{
  background: #FFFAED;  
  border: 1px solid #FFE9AD;
  color: #E36F6F;
}
.success{
  background: #EEFFED;  
  border: 1px solid #B3DEAC;
  color: #6EB05F;
}
.error{
  background: #FFE1E1;  
  border: 1px solid #F78E8E;
  color: #E44A4A;
}
.btn-login{
  min-width: 120px;
}
.loader{
  position: relative;
  top: 8px;
  display: none;
}
.bold{
  font-weight: bold;
}
#map {
  height: 300px;
  width: 100%;
}
.materiais{
  margin-top: -50px;
}
.lista-material{
  position: relative;
  top: -25px;
  margin-bottom: 50px;
}
.share{
  display: none;
}
.date-orders{
  top: -5px;
}
.date-orders>.icon-datapicker{
  line-height: 2.3;
}
